:root{
    --naranja: #ff8000;
    --negro: #3c3c3c;

}

body{
    background-image: url(/recursos/img/fondo.jpg);

}

.container{
    
    width: 500px;
    height: 500px;
    color: #fff;
    top: 50%;
    left: 105%;
    position:absolute;
    transform: translate(-200%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border: 5px outset;
    border-width: 2px;
    border-radius: 5px;
    border-color: #00AAE4;
}

